@import 'tailwindcss';
@import './themes.css';

/***************************************************************
Global Color Palette ===== https://shadcn-svelte.com/themes ====
***************************************************************/
:root {
  /* [Fixed] Font (Inter is the best font) */
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  font-feature-settings: 'calt', 'ss03', 'cv02', 'cv05', 'cv11';
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* [Tailwind] Color Palette */
  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-4: var(--neutral-4);
  --color-neutral-5: var(--neutral-5);
  --color-neutral-6: var(--neutral-6);

  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-primary-4: var(--primary-4);
  --color-primary-5: var(--primary-5);
  --color-primary-6: var(--primary-6);

  --color-text: var(--text);
  --color-text-bright: var(--text-bright);
  --color-text-muted: var(--text-muted);
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-border: var(--border);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);

  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-special: var(--special);

  --color-text-code: var(--text-code);
  --color-background-code: var(--background-code);

  /* Set colors (unified colors with modules) */
  --shadow: 0 16px 48px rgba(0, 0, 0, 0.2);
  --backdrop: rgba(0, 0, 0, 0.5);

  /* Layout styles */
  --sidebar-width: 260px;
  --content-max-width: 768px;
}

/***************************************************************
Global Base Layer ==============================================
***************************************************************/
@layer base {
  * {
    @apply border-border outline-link/50;
  }

  html {
    @apply scroll-smooth;
    min-width: 320px;
  }

  body {
    @apply bg-background text-text leading-normal text-left text-base m-0 p-0;
    word-wrap: break-word;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  /* prettier-ignore */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold mt-6 mb-4 text-text-bright scroll-mt-16;
    line-height: 1.2;
  }

  h1 {
    @apply text-4xl;

    /* parents have prose and self doesn't have not-prose */
    :where(.prose &):not(:where(.not-prose &)) {
      @apply pb-2.5 border-b-border border-b-2;
    }
  }

  h2 {
    @apply text-2xl;

    /* parents have prose and self doesn't have not-prose */
    :where(.prose &):not(:where(.not-prose &)) {
      @apply pb-1 border-b-border border-b-2;
    }
  }

  h3 {
    @apply text-xl;
  }

  a {
    @apply text-link;

    &:hover {
      @apply text-link-hover;
    }
  }

  p,
  div.expressive-code,
  math {
    @apply mb-4;
  }

  :not(pre) > code {
    @apply font-mono bg-background-code text-text-code px-1 py-0.5 text-sm rounded-sm;
  }

  blockquote {
    @apply bg-border/20 border-l-border px-4 py-2 border-l-4 border-solid [&>*:last-child]:mb-0 mb-4;

    &[data-blockquote-type] {
      @apply relative;

      &::before {
        @apply block ml-5 font-bold capitalize text-border;
        content: attr(data-blockquote-type);
      }

      &::after {
        @apply absolute top-3.25 left-4 block w-4 h-4 bg-border border-text;
        -webkit-mask: var(--svg-icon) no-repeat center;
        mask: var(--svg-icon) no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        content: '';
      }
    }

    &[data-blockquote-type='NOTE'] {
      --border: var(--color-info);
      --svg-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-6.5a6.5 6.5 0 1 0 0 13a6.5 6.5 0 0 0 0-13M6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75M8 6a1 1 0 1 1 0-2a1 1 0 0 1 0 2'/%3E%3C/svg%3E");
    }

    &[data-blockquote-type='TIP'] {
      --border: var(--color-warning);
      --svg-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8 1.5c-2.363 0-4 1.69-4 3.75c0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848c.284.411.537.896.621 1.49a.75.75 0 0 1-1.484.211c-.04-.282-.163-.547-.37-.847a9 9 0 0 0-.542-.68l-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25C2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259q-.142.172-.268.319c-.207.245-.383.453-.541.681c-.208.3-.33.565-.37.847a.751.751 0 0 1-1.485-.212c.084-.593.337-1.078.621-1.489c.203-.292.45-.584.673-.848l.213-.253c.561-.679.985-1.32.985-2.304c0-2.06-1.637-3.75-4-3.75M5.75 12h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5M6 15.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75'/%3E%3C/svg%3E");
    }

    &[data-blockquote-type='WARNING'] {
      --border: var(--color-error);
      --svg-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0M9 11a1 1 0 1 1-2 0a1 1 0 0 1 2 0'/%3E%3C/svg%3E");
    }
  }

  /* Custom Expressive Code Copy button (not hovered)
  *  https://icon-sets.iconify.design/simple-icons/?keyword=r&category=Logos 
  */
  div.expressive-code {
    div.copy button {
      @apply w-8! h-8!;
    }

    figure:has(pre[data-language='markdown']) div.copy:not(:hover) {
      --ec-frm-copyIcon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M22.27 19.385H1.73A1.73 1.73 0 0 1 0 17.655V6.345a1.73 1.73 0 0 1 1.73-1.73h20.54A1.73 1.73 0 0 1 24 6.345v11.308a1.73 1.73 0 0 1-1.73 1.731zM5.769 15.923v-4.5l2.308 2.885l2.307-2.885v4.5h2.308V8.078h-2.308l-2.307 2.885l-2.308-2.885H3.46v7.847zM21.232 12h-2.309V8.077h-2.307V12h-2.308l3.461 4.039z'/%3E%3C/svg%3E");
    }

    figure:has(pre[data-language='bash']) div.copy:not(:hover) {
      --ec-frm-copyIcon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M21.038 4.9L13.461.402a2.86 2.86 0 0 0-2.923.001L2.961 4.9A3.02 3.02 0 0 0 1.5 7.503v8.995c0 1.073.557 2.066 1.462 2.603l7.577 4.497a2.86 2.86 0 0 0 2.922 0l7.577-4.497a3.02 3.02 0 0 0 1.462-2.603V7.503A3.02 3.02 0 0 0 21.038 4.9M15.17 18.946l.013.646c.001.078-.05.167-.111.198l-.383.22c-.061.031-.111-.007-.112-.085l-.007-.635c-.328.136-.66.169-.872.084c-.04-.016-.057-.075-.041-.142l.139-.584a.24.24 0 0 1 .069-.121a.2.2 0 0 1 .036-.026q.033-.017.062-.006c.229.077.521.041.802-.101c.357-.181.596-.545.592-.907c-.003-.328-.181-.465-.613-.468c-.55.001-1.064-.107-1.072-.917c-.007-.667.34-1.361.889-1.8l-.007-.652c-.001-.08.048-.168.111-.2l.37-.236c.061-.031.111.007.112.087l.006.653c.273-.109.511-.138.726-.088c.047.012.067.076.048.151l-.144.578a.26.26 0 0 1-.065.116a.2.2 0 0 1-.038.028a.1.1 0 0 1-.057.009c-.098-.022-.332-.073-.699.113c-.385.195-.52.53-.517.778c.003.297.155.387.681.396c.7.012 1.003.318 1.01 1.023c.007.689-.362 1.433-.928 1.888m3.973-1.087c0 .06-.008.116-.058.145l-1.916 1.164c-.05.029-.09.004-.09-.056v-.494c0-.06.037-.093.087-.122l1.887-1.129c.05-.029.09-.004.09.056zm1.316-11.062l-7.168 4.427c-.894.523-1.553 1.109-1.553 2.187v8.833c0 .645.26 1.063.66 1.184a2.3 2.3 0 0 1-.398.039c-.42 0-.833-.114-1.197-.33L3.226 18.64a2.5 2.5 0 0 1-1.201-2.142V7.503c0-.881.46-1.702 1.201-2.142L10.803.863a2.34 2.34 0 0 1 2.394 0l7.577 4.498a2.48 2.48 0 0 1 1.164 1.732c-.252-.536-.818-.682-1.479-.296'/%3E%3C/svg%3E");
    }

    figure:has(pre[data-language='rust']) div.copy:not(:hover) {
      --ec-frm-copyIcon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m23.835 11.703l-1.008-.623l-.028-.294l.866-.807a.348.348 0 0 0-.116-.578l-1.106-.414a9 9 0 0 0-.087-.285l.69-.96a.346.346 0 0 0-.226-.544l-1.166-.19a9 9 0 0 0-.14-.261l.49-1.076a.34.34 0 0 0-.028-.336a.35.35 0 0 0-.3-.154l-1.185.041a7 7 0 0 0-.188-.227l.273-1.153a.347.347 0 0 0-.417-.417l-1.153.273l-.228-.188l.041-1.184a.344.344 0 0 0-.49-.328l-1.076.49l-.262-.14l-.19-1.167a.348.348 0 0 0-.545-.226l-.96.69a9 9 0 0 0-.285-.086L14.597.453a.348.348 0 0 0-.578-.116l-.807.867a9 9 0 0 0-.294-.028L12.295.168a.346.346 0 0 0-.59 0l-.623 1.008l-.294.028L9.98.337a.346.346 0 0 0-.578.116l-.414 1.106l-.285.086l-.959-.69a.348.348 0 0 0-.545.226l-.19 1.167a9 9 0 0 0-.262.14l-1.076-.49a.346.346 0 0 0-.49.328l.041 1.184a8 8 0 0 0-.228.187l-1.153-.272a.347.347 0 0 0-.417.417l.271 1.153l-.186.227l-1.184-.042a.346.346 0 0 0-.328.49l.49 1.077a9 9 0 0 0-.14.262l-1.166.19a.348.348 0 0 0-.226.544l.69.958l-.087.286l-1.106.414a.348.348 0 0 0-.116.578l.866.807a9 9 0 0 0-.028.294l-1.008.623a.344.344 0 0 0 0 .59l1.008.623q.012.147.028.294l-.866.807a.346.346 0 0 0 .116.578l1.106.415q.042.144.087.285l-.69.959a.345.345 0 0 0 .227.544l1.166.19q.069.132.14.262l-.49 1.076a.346.346 0 0 0 .328.49l1.183-.041q.093.115.187.227l-.27 1.154a.346.346 0 0 0 .416.417l1.153-.272q.113.096.228.187l-.041 1.184a.344.344 0 0 0 .49.327l1.076-.49q.13.073.262.14l.19 1.167a.348.348 0 0 0 .545.227l.959-.69a9 9 0 0 0 .285.086l.414 1.107a.345.345 0 0 0 .578.115l.808-.865l.294.03l.623 1.006a.347.347 0 0 0 .59 0l.623-1.007q.148-.013.294-.03l.807.866a.348.348 0 0 0 .578-.115l.414-1.107a9 9 0 0 0 .285-.087l.959.69a.345.345 0 0 0 .545-.226l.19-1.166l.262-.14l1.076.49a.347.347 0 0 0 .49-.328l-.041-1.184a7 7 0 0 0 .227-.187l1.153.272a.347.347 0 0 0 .417-.416l-.272-1.155q.095-.112.187-.227l1.184.041a.344.344 0 0 0 .328-.49l-.49-1.076q.072-.13.141-.262l1.166-.19a.348.348 0 0 0 .226-.544l-.69-.959l.087-.285l1.106-.414a.346.346 0 0 0 .116-.579l-.866-.807q.016-.147.028-.294l1.008-.624a.344.344 0 0 0 0-.589zm-6.742 8.355a.714.714 0 0 1 .299-1.396a.714.714 0 1 1-.3 1.396zm-.342-2.314a.65.65 0 0 0-.771.5l-.358 1.669a8.7 8.7 0 0 1-3.619.78a8.7 8.7 0 0 1-3.695-.815L7.95 18.21a.65.65 0 0 0-.772-.5l-1.473.317a9 9 0 0 1-.761-.898h7.167c.081 0 .136-.014.136-.088v-2.536c0-.074-.054-.088-.136-.088h-2.096v-1.608h2.268c.206 0 1.106.059 1.393 1.209c.09.353.288 1.504.424 1.873c.134.413.683 1.238 1.268 1.238h3.572a1 1 0 0 0 .13-.013a9 9 0 0 1-.813.952zm-9.914 2.28a.714.714 0 1 1-.3-1.396a.714.714 0 0 1 .3 1.396M4.117 8.997a.714.714 0 1 1-1.303.58a.714.714 0 0 1 1.304-.58m-.834 1.981l1.534-.682a.65.65 0 0 0 .33-.858l-.316-.715h1.244v5.602H3.567a8.8 8.8 0 0 1-.284-3.348zm6.734-.543V8.784h2.96c.153 0 1.08.177 1.08.87c0 .574-.712.78-1.296.78zm10.757 1.486q0 .329-.024.651h-.9c-.09 0-.127.059-.127.148v.413c0 .973-.548 1.184-1.03 1.238c-.457.052-.964-.191-1.027-.472c-.27-1.518-.72-1.843-1.43-2.403c.882-.56 1.799-1.386 1.799-2.492c0-1.193-.82-1.945-1.377-2.315c-.783-.516-1.65-.62-1.883-.62H5.468a8.77 8.77 0 0 1 4.907-2.77l1.098 1.152a.65.65 0 0 0 .918.02l1.227-1.173a8.78 8.78 0 0 1 6.004 4.276l-.84 1.898a.65.65 0 0 0 .33.859l1.618.718q.042.43.042.872zm-9.3-9.6a.713.713 0 1 1 .984 1.032a.714.714 0 0 1-.984-1.031m8.339 6.71a.71.71 0 0 1 .939-.362a.714.714 0 1 1-.94.364z'/%3E%3C/svg%3E");
    }

    figure:has(pre[data-language='ocaml']) div.copy:not(:hover) {
      --ec-frm-copyIcon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12.178 21.637c-.085-.17-.187-.524-.255-.676c-.067-.135-.27-.506-.37-.625c-.22-.253-.27-.27-.338-.608c-.12-.574-.405-1.588-.76-2.296c-.187-.372-.49-.677-.761-.947c-.236-.236-.777-.624-.878-.607c-.895.169-1.166 1.046-1.587 1.739c-.237.388-.473.71-.66 1.115c-.167.371-.151.793-.439 1.115a2.95 2.95 0 0 0-.624 1.097c-.034.084-.101.929-.186 1.131l1.318-.084c1.233.085.877.557 2.787.456l3.022-.1a5.4 5.4 0 0 0-.27-.71zM20.96 1.539H3.023A3.02 3.02 0 0 0 0 4.56v6.587c.44-.152 1.047-1.08 1.25-1.3c.337-.389.405-.895.574-1.2c.389-.709.456-1.215 1.334-1.215c.406 0 .575.1.845.473c.186.253.523.743.675 1.064c.186.371.474.86.609.962c.1.068.185.136.27.17c.135.05.253-.051.354-.12c.118-.1.17-.286.287-.556c.17-.39.339-.827.44-.997c.169-.27.236-.608.422-.76c.27-.236.641-.253.743-.27c.557-.118.81.27 1.08.507c.186.168.423.49.609.91c.135.339.304.661.388.846c.068.185.237.49.338.86c.101.322.337.575.44.744c0 0 .152.406 1.03.778a8 8 0 0 0 .81.286c.39.135.76.12 1.233.068c.338 0 .524-.49.676-.878c.084-.237.185-.895.236-1.081s-.085-.32.034-.49c.135-.186.22-.203.287-.439c.17-.523 1.114-.54 1.655-.54c.456 0 .389.44 1.149.287c.439-.085.86.05 1.318.185c.388.102.76.22.98.473c.134.17.489.997.134 1.031c.033.033.067.118.118.151c-.085.322-.422.085-.625.051c-.253-.05-.44 0-.693.118c-.439.187-1.063.17-1.452.49c-.32.271-.32.861-.473 1.2c0 0-.422 1.063-1.317 1.722c-.237.17-.692.574-1.672.726c-.44.068-.86.068-1.318.05c-.22-.016-.438-.016-.658-.016c-.136 0-.575-.017-.558.034l-.05.119a.6.6 0 0 0 .033.169c.017.1.017.185.034.27c0 .185-.017.388 0 .574c.017.388.17.743.186 1.148c.017.44.236.913.456 1.267c.085.135.203.152.254.32c.067.186 0 .406.033.609c.118.794.355 1.638.71 2.364v.017c.439-.067.895-.236 1.47-.32c1.063-.153 2.532-.085 3.478-.17c2.399-.22 3.7.98 5.844.49V4.562a3.045 3.045 0 0 0-3.04-3.023m-8.951 14.187q0-.051 0 0m-6.47 2.769c.17-.372.271-.778.406-1.15c.135-.354.337-.86.693-1.046c-.05-.05-.744-.068-.929-.085a7 7 0 0 1-.608-.084a23 23 0 0 1-1.15-.236c-.22-.051-.979-.322-1.13-.39c-.39-.168-.642-.658-.93-.607c-.185.034-.37.101-.49.287c-.1.152-.134.423-.202.608c-.084.203-.22.405-.32.608c-.238.354-.626.676-.795 1.03c-.033.085-.05.169-.084.254v4.07c.202.034.405.068.624.135c1.69.456 2.095.49 3.75.304l.152-.017c.118-.27.22-1.165.304-1.435c.067-.22.153-.39.187-.591c.033-.203 0-.406-.017-.59c-.034-.491.354-.661.54-1.065z'/%3E%3C/svg%3E");
    }

    /* Extra styling for plugin-ec-output.js */
    pre.output {
      @apply text-text-code! bg-background-code!;
      span {
        @apply min-h-4!;
      }
    }

    figure:has(pre.output) {
      pre[data-language] {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;

        code {
          padding-bottom: 0.5rem !important;
        }
      }
    }
  }

  span.katex math {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    text-wrap: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

/***************************************************************
Utility (CSS class) ============================================
***************************************************************/

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollable-text-x {
  &:not(*:hover) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    overflow-x: auto;
    white-space: nowrap;
    text-wrap: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@utility prose {
  @apply mx-auto max-w-(--content-max-width);

  table {
    @apply w-full border-collapse border-spacing-0 mb-4;

    th,
    td {
      @apply border border-border p-2 align-top;
    }
  }

  ul,
  ol {
    @apply flex flex-col pl-6 gap-1.5 mb-4;
    ul,
    ol {
      @apply mt-1.5 mb-0;
    }
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  kbd {
    @apply inline-flex align-text-top -my-0.5 py-0.5 px-1.5 text-sm rounded-md;
    box-shadow: 0px 2px 0px var(--color-border);
    border: 1px solid var(--color-border);
    background-color: var(--color-background);
  }
}

@utility svg-arrow {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7z'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: currentColor;
}
